@page "/blazor-js"

@inject IJSRuntime JsRuntime

<h3>BlazorJS Component</h3>

<div class="container">
    <div class="row">
        <button class="btn btn-secondary" @onclick="() => DemoConfirmation(messageConfirmation)">Demo confirm button</button>
    </div>
    <br />
    <div class="row">
        @if (resultConfirm)
        {
            <p>Confirmation success!!</p>
        }
        else
        {
            <p>Confirmation canceled!!</p>
        }
    </div>
</div>
@code {
    private string messageConfirmation = "Are you sure to click me?";
    private bool resultConfirm { get; set; }

    private async Task DemoConfirmation(string message)
    {
        resultConfirm = await JsRuntime.InvokeAsync<bool>("confirm", message);
    }
}
